/*============== MEDIA QUERIES (TABLETS)=================*/

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
    margin: auto;
  }

  .graph-wrapper {
    
    background-color: var(--color-primary);
    width: 450px;
    height: 450px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
  }

  .holders {
    background-color: var(--color-white);
    height: 400px;
    width: 400px;
    border-radius: 5px;
  }

  .pie {
    background-color: var(--color-white);
    height: 400px;
    width: 400px;
    border-radius: 5px;
  }
  
}

/*============== MEDIA QUERIES (MOBILE)=================*/

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
    margin: auto;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    overflow-x: hidden;
  }

  .logo {
    width: 8rem;
  }

  .analytics-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .graph-wrapper {
    
    background-color: var(--color-primary);
    width: 350px;
    height: 350px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
  }

  .holders {
    background-color: var(--color-white);
    height: 300px;
    width: 300px;
    border-radius: 5px;
    margin: 0 10px;
  }

  .pie {
    background-color: var(--color-white);
    height: 300px;
    width: 300px;
    border-radius: 5px;
    margin: 0 10px;
  }

  .gradient {
    width: 200px;
    height: 200px;
    background-color: var(--color-primary);
    border-radius: 39% 61% 61% 39% / 40% 54% 46% 60% ;
    position: absolute;
    top: 400px;
    left: 70px;
    filter: blur(80px);
    z-index: -2;
    opacity: .3;
  }
  
  .gradient2 {
    width: 200px;
    height: 200px;
    background-color: var(--color-primary);
    border-radius: 39% 61% 61% 39% / 40% 54% 46% 60% ;
    position: absolute;
    top: 100px;
    right: -100px;
    filter: blur(40px);
    z-index: -2;
    opacity: .2;
  }
  
}

/*============== MEDIA QUERIES (Z-FOLD)=================*/

@media(max-width: 320px){ 
  .container {
    width: var(--container-width-sm);
    margin: auto;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    overflow-x: hidden;
  }

  .logo {
    width: 8rem;
  }

  .analytics-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .graph-wrapper {
    
    background-color: var(--color-primary);
    width: 300px;
    height: 300px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
  }

  .holders {
    background-color: var(--color-white);
    height: 280px;
    width: 280px;
    border-radius: 5px;
    margin: 0 10px;
  }

  .pie {
    background-color: var(--color-white);
    height: 280px;
    width: 280px;
    border-radius: 5px;
    margin: 0 10px;
  }

  .gradient {
    width: 200px;
    height: 200px;
    background-color: var(--color-primary);
    border-radius: 39% 61% 61% 39% / 40% 54% 46% 60% ;
    position: absolute;
    top: 400px;
    left: 70px;
    filter: blur(80px);
    z-index: -2;
    opacity: .3;
  }
  
  .gradient2 {
    width: 200px;
    height: 200px;
    background-color: var(--color-primary);
    border-radius: 39% 61% 61% 39% / 40% 54% 46% 60% ;
    position: absolute;
    top: 100px;
    right: -100px;
    filter: blur(40px);
    z-index: -2;
    opacity: .2;
  }

}