/*============== MEDIA QUERIES (Large Desktop)=================*/

@media screen  and (max-device-width: 1600px) {

  .container {
    width: var(--container-width-lg);
    margin: auto;
  }

  .logo {
    font-size: 56px;
    background-image: linear-gradient(to right, #48d4d4, #202693);
    --webkit-background-clip: text;
    color: transparent;
  }

  .tkn-flex {
    display: flex;
    justify-content: flex-start;
  }

  .tkn-wrapper {
    background-color: var(--color-primary);
    width: 320px;
    height: 170px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
  }
  
  .tkn-holders {
    border: none;
    background-color: var(--color-white);
    border-radius: 5px;
  }

  .graph-wrapper {
    background-image: linear-gradient(to right, #48d4d4, #2d35a9);
    width: 480px;
    height: 480px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 2px 40px #455858;
  }
  
  .holders {
    background-color: var(--color-white);
    height: 460px;
    width: 460px;
    border-radius: 5px;
    border: 0;
  }
  
  .pie {
    background-color: var(--color-white);
    height: 460px;
    width: 460px;
    border-radius: 5px;
    border: 0;
  }

}

@media screen  and (max-device-width: 1400px) {
  .container {
    width: var(--container-width-md);
    margin: auto;
  }

  .logo {
    font-size: 56px;
    background-image: linear-gradient(to right, #48d4d4, #202693);
    --webkit-background-clip: text;
    color: transparent;
  }

  .tkn-flex {
    display: flex;
    justify-content: flex-start;
  }

  .tkn-wrapper {
    background-color: var(--color-primary);
    width: 320px;
    height: 170px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
  }
  
  .tkn-holders {
    border: none;
    background-color: var(--color-white);
    border-radius: 5px;
  }

  .graph-wrapper {
    background-color: var(--color-primary);
    width: 460px;
    height: 460px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .holders {
    background-color: var(--color-white);
    height: 440px;
    width: 440px;
    border-radius: 5px;
  }

  .pie {
    background-color: var(--color-white);
    height: 440px;
    width: 440px;
    border-radius: 5px;
  }

}

@media screen and (max-device-width: 916px) {
  .container {
    width: var(--container-width-md);
    margin: auto;
  }
  
  .logo {
    font-size: 56px;
    background-image: linear-gradient(to right, #48d4d4, #202693);
    --webkit-background-clip: text;
    color: transparent;
  }
  
  .tkn-flex {
      display: flex;
      justify-content: flex-start;
  }

    .graph-wrapper {
      background-color: var(--color-primary);
      width: 420px;
      height: 420px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .holders {
      background-color: var(--color-white);
      height: 400px;
      width: 400px;
      border-radius: 5px;
    }
  
    .pie {
      background-color: var(--color-white);
      height: 400px;
      width: 400px;
      border-radius: 5px;
    }
}

/*============== MEDIA QUERIES (Small Desktop)=================*/

@media screen and (max-device-width: 1100px) {
  .container {
    width: var(--container-width-md);
    margin: auto;
  }

  .logo {
    font-size: 56px;
    background-image: linear-gradient(to right, #48d4d4, #202693);
    --webkit-background-clip: text;
    color: transparent;
  }

  .tkn-flex {
    display: flex;
    justify-content: flex-start;
  }

  .tkn-wrapper {
    background-color: var(--color-primary);
    width: 320px;
    height: 170px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
  }
  
  .tkn-holders {
    border: none;
    background-color: var(--color-white);
    border-radius: 5px;
  }

  .graph-wrapper {
    background-color: var(--color-primary);
    width: 410px;
    height: 410px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .holders {
    background-color: var(--color-white);
    height: 390px;
    width: 390px;
    border-radius: 5px;
  }

  .pie {
    background-color: var(--color-white);
    height: 390px;
    width: 390px;
    border-radius: 5px;
  }

}

/*============== MEDIA QUERIES (Small Desktop)=================*/

@media screen and (max-device-width: 912px) {
  .container {
    width: var(--container-width-md);
    margin: auto;
  }

  .logo {
    font-size: 56px;
    background-image: linear-gradient(to right, #48d4d4, #202693);
    --webkit-background-clip: text;
    color: transparent;
  }

  .tkn-flex {
    display: flex;
    justify-content: flex-start;
  }

  .tkn-wrapper {
    background-color: var(--color-primary);
    width: 320px;
    height: 170px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
  }
  
  .tkn-holders {
    border: none;
    background-color: var(--color-white);
    border-radius: 5px;
  }

  .graph-wrapper {
    background-color: var(--color-primary);
    width: 390px;
    height: 390px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .holders {
    background-color: var(--color-white);
    height: 370px;
    width: 370px;
    border-radius: 5px;
  }

  .pie {
    background-color: var(--color-white);
    height: 370px;
    width: 370px;
    border-radius: 5px;
  }

}

/*============== MEDIA QUERIES (TABLETS)=================*/

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
    margin: auto;
  }

  .clearfix {
    width: var(--container-width-md);
    margin: 2rem auto;
    cursor: pointer;
  }
  
  .logo {
    font-size: 30px;
    background-image: linear-gradient(to right, #48d4d4, #202693);
    --webkit-background-clip: text;
    color: transparent;
  }

  .tkn-flex {
    display: flex;
    justify-content: flex-start;
  }

  
  .tkn-wrapper {
    background-color: var(--color-primary);
    width: 320px;
    height: 170px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
  }
  
  .tkn-holders {
    border: none;
    background-color: var(--color-white);
    border-radius: 5px;
  }

  .graph-wrapper {
    
    background-color: var(--color-primary);
    width: 410px;
    height: 410px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .holders {
    background-color: var(--color-white);
    height: 390px;
    width: 390px;
    border-radius: 5px;
  }

  .pie {
    background-color: var(--color-white);
    height: 390px;
    width: 390px;;
    border-radius: 5px;
  }
  
}

/*============== MEDIA QUERIES (MOBILE)=================*/

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
    margin: auto;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    overflow-x: hidden;
  }

  .logo {
    width: 8rem;
  }

  .tkn-flex {
    display: flex;
    justify-content: center;
  }

  .tkn-wrapper {
    background-color: var(--color-primary);
    width: 350px;
    height: 170px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
  }
  
  .tkn-holders {
    border: none;
    background-color: var(--color-white);
    border-radius: 5px;
    width: 330px;
  }

  .analytics-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .graph-wrapper {
    
    background-color: var(--color-primary);
    width: 350px;
    height: 350px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
  }

  .holders {
    background-color: var(--color-white);
    height: 330px;
    width: 330px;
    border-radius: 5px;
    margin: 0 10px;
  }

  .pie {
    background-color: var(--color-white);
    height: 330px;
    width: 330px;
    border-radius: 5px;
  }

  .gradient {
    width: 200px;
    height: 200px;
    background-color: var(--color-primary);
    border-radius: 39% 61% 61% 39% / 40% 54% 46% 60% ;
    position: absolute;
    top: 400px;
    left: 70px;
    filter: blur(80px);
    z-index: -2;
    opacity: .3;
  }
  
  .gradient2 {
    width: 200px;
    height: 200px;
    background-color: var(--color-primary);
    border-radius: 39% 61% 61% 39% / 40% 54% 46% 60% ;
    position: absolute;
    top: 100px;
    right: -100px;
    filter: blur(40px);
    z-index: -2;
    opacity: .2;
  }
  
}

/*============== MEDIA QUERIES (Z-FOLD)=================*/

@media(max-width: 320px) { 
  .container {
    width: var(--container-width-sm);
    margin: auto;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    overflow-x: hidden;
  }

  .logo {
    width: 8rem;
  }

  .analytics-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .graph-wrapper {
    
    background-color: var(--color-primary);
    width: 300px;
    height: 300px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
  }

  .holders {
    background-color: var(--color-white);
    height: 280px;
    width: 280px;
    border-radius: 5px;
    margin: 0 10px;
  }

  .pie {
    background-color: var(--color-white);
    height: 280px;
    width: 280px;
    border-radius: 5px;
    margin: 0 10px;
  }

  .gradient {
    width: 200px;
    height: 200px;
    background-color: var(--color-primary);
    border-radius: 39% 61% 61% 39% / 40% 54% 46% 60% ;
    position: absolute;
    top: 400px;
    left: 70px;
    filter: blur(80px);
    z-index: -2;
    opacity: .3;
  }
  
  .gradient2 {
    width: 200px;
    height: 200px;
    background-color: var(--color-primary);
    border-radius: 39% 61% 61% 39% / 40% 54% 46% 60% ;
    position: absolute;
    top: 100px;
    right: -100px;
    filter: blur(40px);
    z-index: -2;
    opacity: .2;
  }
}