* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  outline: none;
  font-family: outfit;
  color: #21272F;
}

:root {
  --color-primary: #DAB863;
  --color-dark: #16181D;
  --color-white: #ffffff;

  --font-title: Outfit;

  --container-width-lg: 84%;
  --container-width-md: 90%;
  --container-width-sm: 94%;

  --transition: all 400ms ease;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: var(--color-dark);
}

.container {
  width: var(--container-width-lg);
  margin: auto;
}

.clearfix {
  width: var(--container-width-lg);
  margin: 2rem auto;
  cursor: pointer;
}

.logo {
  font-size: 60px;
  color: var(--color-primary);
}

.tsuka {
  height: 50px;
  margin-left: 10px;
}

.analytics-wrapper {
  display: flex;
  justify-content: space-between;
}

.grid {
  display: flex;
  justify-content: space-between;
}
.tkn-wrapper {
  background-color: var(--color-primary);
  width: 320px;
  height: 170px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}

.tkn-holders {
  border: none;
  background-color: var(--color-white);
  border-radius: 5px;
}

.graph-wrapper {
  background-color: var(--color-primary);
  width: 480px;
  height: 480px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.holders {
  background-color: var(--color-white);
  height: 460px;
  width: 460px;
  border-radius: 5px;
  border: 0;
}

.pie {
  background-color: var(--color-white);
  height: 460px;
  width: 460px;
  border-radius: 5px;
  border: 0;
}

.gradient {
  width: 400px;
  height: 400px;
  background-color: var(--color-primary);
  border-radius: 39% 61% 61% 39% / 40% 54% 46% 60% ;
  position: absolute;
  top: 400px;
  left: 70px;
  filter: blur(80px);
  z-index: -2;
  opacity: .3;
}

.gradient2 {
  width: 500px;
  height: 500px;
  background-color: var(--color-primary);
  border-radius: 39% 61% 61% 39% / 40% 54% 46% 60% ;
  position: absolute;
  top: 100px;
  right: -100px;
  filter: blur(40px);
  z-index: -2;
  opacity: .2;
}
