:root {
    --color-grey: #e3e3e3;
    --color-blue: #11A4FF;
    --color-white: #fff;
    --color-black: #000000;

    --color-messageError: #ffc4c4;
    --color-messageSuccess: #00FFF5;
    --color-fieldError: #EB5757;

    --font-title:'Proxima Nova', sans-serif;
    --font-text: aileron, sans-serif;
}

html,
body{
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 20px;
    font-family: var(--font-text);
    letter-spacing: 0;
    color: var(--color-white);
    background: var(--color-black);
}

body.fixed{
    position: fixed;
    width: 100%;
    height: 100%;
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--font-title);
	font-weight: 700;
	font-style: normal;
}

h1{
	font-size: 62px;
    line-height: 60px;
}

h1:after{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 13px;
    background: var(--color-red);
    margin-left: 7px;
}

h2{
	font-size: 68px;
    line-height: 72px;
	text-transform: capitalize;
}


h2:after{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 13px;
    background: var(--color-red);
    margin-left: 7px;
}


h3{
    font-size: 36px;
    line-height: 38px;
	text-transform: capitalize;
}

p{
    font-size: 18px;
    line-height: 28px;
	font-weight: 300;
}

span{
    color: var(--color-blue);
}

li{
	margin-bottom: 10px;
}

.text-large{
    font-size: 20px;
    line-height: 24px;
}

.text-small{
    font-size: 14px;
    line-height: 20px;
}

.text-upper{
    text-transform: uppercase;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}

.color-black{
	color:var(--color-black);
}

.main-font{
	font-family: var(--font-title);
  display: flex;
  justify-content: space-between;
  list-style: none;
}

a{
    text-decoration: none;
    color: var(--color-white);
    transition: all .3s;
}

a:hover{
    opacity: .8;
    color: var(--color-blue);
}

ul{
    padding: 0;
    margin: 0;
}

.p-relative{
    position: relative;
}
.d-block{
    display: block;
}
.d-inline-block{
    display: inline-block;
}
.d-flex{
    display: flex;
}
.show-mobile{
    display: none;
}
.d-none{
    display: none;
}

.f-align-center{
    align-items: center;

}

.f-justify-center{
    justify-content: center;
}

.f-justify-between{
  justify-content: space-between;
}

.f-align-start{
    align-items: flex-start;
}

.f-wrap{
    flex-wrap: wrap;
}

.f-col{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.f-end{
	justify-content: flex-end;
}

.w-40{
    width: 40%;
}

.w-50{
    width: 50%;
}

.w-60{
    width: 60%;
}

.w-100{
    width: 100%;
}

.max-500{
	max-width: 500px;
}

.m-0{
    margin: 0;
}

.p-0{
     padding: 0;
 }

.pr-20{
    padding-right: 20px;
}
.pl-20{
    padding-left: 20px;
}

.mt-0{
    margin-top: 0;
}

.mt-5{
     margin-top: 5px;
}

.mt-10{
    margin-top: 10px;
}

.mt-20{
    margin-top: 20px;
}

.mt-30{
    margin-top: 30px;
}

.mt-50{
    margin-top: 50px;
}

.mt-100{
    margin-top: 100px;
}

.mt-10per{
	margin-top: 10%;
}

.mb-0{
    margin-bottom: 0;
}

.mb-5{
    margin-bottom: 5px;
}

.mb-10{
    margin-bottom: 10px;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-30{
    margin-bottom: 30px;
}

.mb-50{
    margin-bottom: 50px;
}

.ml-0{
    margin-left: 0;
}

.ml-5{
    margin-left: 5px;
}

.ml-10{
    margin-left: 10px;
}

.ml-20{
    margin-left: 20px;
}

.mr-0{
    margin-right: 0;
}

.mr-5{
    margin-right: 5px;
}

.mr-10{
    margin-right: 10px;
}

.mr-20{
    margin-right: 20px;
}

.mr-50{
    margin-right: 50px;
}

.mr-100{
    margin-right: 100px;
}

section{
    position: relative;
    overflow: hidden;
}

.container{
    width: 80%;
    max-width: 1800px;
    margin: 0 auto;
    position: relative;
}

.container-wide {
    width: 90%;
}

.container-small{
    width: 1100px;
}

.container-tiny{
    width: 700px;
}

.contrast{
    background: var(--color-black);
    color: var(--color-white);
}

.btn{
    height: 50px;
    line-height: 50px;
    transition: opacity .4s;
    display: inline-block;
    padding: 0 30px;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: var(--font-title);
    border: none;
    cursor: pointer;
}

.btn-blue{
    background: var(--color-blue);
    color: var(--color-white);
    border: solid var(--color-blue) 1px;
}


.btn:hover{
    opacity: .8;
}

.btn-light{
    background:var(--color-white);
	color: #fff;
    border-bottom: 2px solid var(--color-grey);
    padding: 0;
}

input,
textarea{
    border: 2px solid var(--color-grey);
    padding: 10px 20px;
    background: var(--color-white);
    color: var(--color-black);
    font-size: 18px;
    font-family: var(--font-title);
    outline: none;
    box-sizing: border-box;
}

input{
    height: 60px;
}

textarea{
    height: 150px;
}

::placeholder {
    color: var(--color-black);
    font-size: 18px;
    font-family: var(--font-title);
	font-weight: 300;
}

.message-error{
    color: var(--color-messageError);
}

.message-success{
    color: var(--color-messageSuccess);
}

form .field.field-error{
    border-color: var(--color-fieldError);
}

form.form-loading .submit .icon{
    display: inline-block;
}

form.form-loading button .text{
    display: none;
}

.card{
    background: linear-gradient(180deg, #2E2EDE 11.86%, #1616A7 71.88%);
    border-radius: 20px;
    padding: 40px;
    width: 100%;
    box-sizing: border-box;
}

.loading{
    background: #000;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    z-index: 999;
}

.loading-screen{
    width: 100px;
    z-index: 9999;
    position: absolute;
}


.blur{
	filter: blur(3px);
    position: absolute;
    left: 0;
    z-index: -1;
}

@keyframes spin { 100% { transform:rotate(360deg); } }

@keyframes scale-out-center {
  80% {
    transform: scale(1);
    opacity: 1;
  }	
	
	
  90% { 
    transform: scale(2);
    opacity: 1;
  }
	
  100% {
   transform: scale(0);
    opacity: 1;
  }
}


.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.modal-container .modal-background .modal{
    /*background: url("../images/section-3-bg.svg") center no-repeat;*/
    /*background-size: cover;*/

    background: var(--color-white);
    background-blend-mode: normal, normal, normal, overlay;
    mix-blend-mode: normal;
    text-align: left;
    border: 1px solid var(--color-black);
}

.close-container {
    position: relative;
    display: inline-block;
    margin: auto;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.close-container  .leftright {
    height: 4px;
    width: 50px;
    position: absolute;
    margin-top: 24px;
    background-color: var(--color-black);
    border-radius: 2px;
    transform: rotate(45deg);
    transition: all 0.3s ease-in;
}

.close-container .rightleft {
    height: 4px;
    width: 50px;
    position: absolute;
    margin-top: 24px;
    background-color: var(--color-black);
    border-radius: 2px;
    transform: rotate(-45deg);
    transition: all 0.3s ease-in;
}

.close-container label {
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 100%;
    text-align: center;
    color: var(--color-red);
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.3s ease-in;
    opacity: 0;
    font-size: 13px;
}

.close-container:hover .leftright {
    transform: rotate(-45deg);
    background-color: var(--color-red);
}

.close-container:hover .rightleft {
    transform: rotate(45deg);
    background-color: var(--color-red);
}

.close-container:hover label {
    opacity: 1;
}

/***********************
        HEADER
***********************/
header{
  position: absolute;
  top: 0;
  width: 100%;
  padding: 30px 0;
z-index: 2;
}

header .logo{
  float: left;
}

header .logo img{
width: 100%;
}



/***********************
    SECTION HERO
***********************/
section.hero{

}
.hero .container{

}

.hero .hero-content{
}

.hero-img{
    width: 600px;
}


.hero video, .focus video{
	width: 100%;
}

/***********************
    SECTION FOCUS
***********************/

/***********************
    SECTION FOOTER
***********************/
footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 20px 0;
    margin-bottom: -20px;
}

footer .copyright{
    line-height: 60px;
}

footer .social a{
    display: inline-block;
    transition: all .2s;
}

footer .social a i{
    font-size:36px;
}
footer .social a:hover{
    color: var(--color-red);
}

/***********************
     PAGINATION
***********************/

.onepage-pagination{

    transform: translate(-50%, -50%);
}
.onepage-pagination li a{

}

.onepage-pagination li a:before{
    border-radius: 10px;
    width: 12px;
    height: 12px;
    background: var(--color-grey);
}
.onepage-pagination li a.active:before{
    border: none;
    background-color: var(--color-red);
    left: inherit;
    margin-top: 0;
    width: 12px;
    height: 12px;
}

/***********************
     PRIVACY PAGE
***********************/
.privacy-page footer .copyright{
    padding-left: 0;
}

.privacy-page .privacy-text{
    margin-top: 120px;
}

.privacy-page footer{
    position: relative;
    margin-bottom: 0;
    padding: 0;
}

.bg-gradients {
    background-image: url('/images/bg-gradients.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    position: absolute;
    margin-top: 200px;
    opacity: 1;
    z-index: -1;
  }

  .bg-gradients-1 {
    background-image: url('/images/bg-gradients.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
    position: absolute;
    margin-top: 200px;
    margin-right: 100px;
    opacity: .5;
    z-index: -1;
    position: absolute;
  }

  .bg-gradients-2 {
    margin: 0 -1000px 0 200px;
    z-index: -1;
    position: absolute;
  }

  .nav-arrows{
    position: fixed;
    margin-left: 50%;
    bottom: 12px;
    z-index: 8;
    transform: translate(-100%);
    padding-right: 5px;
  }
  .nav-arrows a{
  width: 32px;
    height: 32px;
    display: inline-block;
    top: 0;
    transition: all .2s;
  }
  
  .nav-arrows a.nav-next:hover{
    transform: scale(0.9);
  }
  .nav-arrows a.nav-prev:hover{
    transform: scale(0.9);
  }

  .nav li a {
    text-decoration: none;
  }
  .nav li a:hover{
    opacity: 1;
  }
  
  .nav li a::before,
  .nav li a::after {
    position: absolute;
    width: 100%;
    height: 2px;
    background: var(--color-red);
    top: 100%;
    left: 0;
    pointer-events: none;
  }
  
  .nav li a::before {
    content: '';
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
  }
  
  .nav li a:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
  }