<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="canonical" href="" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Horizon Ledger</title>

    <!-- Meta SEO -->
    <meta name="title" content="Horizon Ledger - Horizon is a layer 1 project that provides...">
    <meta name="description"
        content="Horizon is a layer 1 project that provides the foundation for creating novel web3 applications..">
    <meta name="robots" content="index, follow">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta name="author" content="Horizon Ledger">

    <!-- Social media share -->
    <meta property="og:title" content="Horizon Ledger - Horizon is a layer 1 project that provides...">
    <meta property="og:site_name" content="Horizon Ledger">
    <meta property="og:url" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@horizonledger" />
    <meta name="twitter:creator" content="@horizonledger" />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link href="./styles/main.css" rel="stylesheet">
    <script async defer src=""></script>
</head>

<body>
    {{> content }}
    <!-- End block -->
    <script src="https://unpkg.com/flowbite@1.4.1/dist/flowbite.js"></script>

</body>

</html>